<body id='window'>
    <div class="row header">
        <h1>
            தொடர்புகள்
        </h1>
    </div>
</body>


<div class='container p-4'>
    <div class='row'>
        <div class='col-7'>
            <div class='row m-2 mb-3'>
                <h4>
                Oviya Subasanthirabose: <br>
                <small>647-865-3838 <br>
                oviyabose@gmail.com<br></small>
                </h4>  
            </div>
            <div class='row m-2'>
                <h4>
                    Selvarani Subasanthirabose: <br>
                    <small>647-537-7470 <br></small>
                    </h4> 
            </div>
        </div>
        <div class='col contact-us'>
            <div class='col-12'>
                <div class='row'>
                    <h4>
                        Social Media
                    </h4>
                </div>
                <div class='row'>
                    <a href='https://www.facebook.com/pg/Thayahans-Arts-School-1611035775847873/community/'><i class="fa fa-facebook-official m-2" style="font-size:2em"></i></a>
                    <a href="https://www.instagram.com/ov.visuals/">
                        <i class="fa fa-instagram m-2" style="font-size:2em"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class='row'>
                    <h4>
                        Address
                    </h4>
                </div>
                <div class='row'>
                     <a
                        href="https://www.google.com/maps/place/2900+Markham+Rd,+Scarborough,+ON+M1X+1E6/@43.8248189,-79.2512682,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4d6d714c0b801:0xd4c151133b3756a7!8m2!3d43.8248189!4d-79.2490795">2900
                        Markham Rd, Scarborough, ON M1X 1E6 Unit #B5</a>
                </div>
            </div>
        </div>
    </div>
        <hr />
    <div class='col text-center'>
        <img src='../../assets/logo.png' width="25%" class="rounded-circle" />
        <p>Thayahan Arts School</p>

    </div>
    <div class='row' id='logo-caption'>
        <div class='col'>
        </div>
    </div>
</div>
