<body id='window' class="d-flex text-center justify-content-center">
    <div class="row align-self-center text-white">
        <h1>
            நாம் யார்
        </h1>
    </div>
</body>

<body>
    <div class='container p-4'>
        <div class='row'>
            <!-- <div class='col about-us'>
                <h2>
                    About us
                </h2>
                <p></p>
            </div> -->
            <div class='col about-us'>
                <p>
                    தாயகன் ஓவியக்கல்லூரியின் நோக்கமானது கனடாவாழ் தமிழ் சிறுவர்கள் தாய் மொழியான செம்மொழியை கற்பதும்.
                    தமிழர் வரலாறு, தமிழர் பண்பாடு பற்றி அறிந்து அவற்றைப் பேணுவதற்கும் ஆகும். மற்றும் சிறுவர்களின்
                    கற்பனைத்திறனை வளர்த்தெடுக்கவும், அவர்களது கற்பனைத்திறன் தமிழரது பண்பாடு என்பவற்றை வெளிபடுத்தவும்
                    ஓவியம் (வரைதல்). ஓவியம் ஆனது சிறுவர்களின் அன்றாட கல்வி கற்பதற்கும் உதவுகிறது. எனவே இக்கல்லூரி பல
                    சேவைகளையும் வளங்கி வருகிறது. ஆண்டு தோறும் போட்டி நிகழ்வுகளை நடாத்தி மாணவர்களுக்கு பரிசில்களையும்
                    வழங்கி ஊக்கப்படுத்தி வருவது குறிப்பிடத்தக்கது.
                </p>
                போட்டிகள்:
                <ul>
                    <li>தமிழ்</li>
                    <li>பண்ணிசை</li>
                    <li>ஓவியம் (சித்திரம்)</li>
                    <li>ஆங்கிலம்</li>
                    <li>அறிவியல்</li>
                    <li>கணிதம்</li>
                    <li>குமுகவியல்</li>
                </ul>
                <p>
                    கல்தோன்றி மண்தோன்றாக் காலத்து முன் தோன்றிய முதல் தமிழில் "அம்மா" என என் தாயை அழைக்கும் போது நாவில்
                    மட்டு மல்ல என் உள்ளத்திலும் தேன் வந்து ஊறுகிறது. உயிர் எழுத்தான "அ" ஒலியும் மெய் எழுத்தான "ம்"
                    ஒலியும் உயிர் மெய் எழுத்தான "மா" ஒலியும் அம்மா என ஒலிப்பது என்னை கருவறையில் உருவாக்கி உலகத்தை
                    காண்பித்த அம்மாவைக் கண்முன் நிறுத்துகிறது என்றால் என் தாய் தமிழுக்கு உற்ற சக்தி ஆகும்.
                </p>
            </div>
        </div>
    </div>
</body>