<body id="window" class="d-flex text-center justify-content-center">
  <div class="row align-self-center text-white">
    <h1>Welcome</h1>
  </div>
</body>
<!-- <div id="homeCont" class="container text-center p-2">
  <div class="iframe-container">
    <iframe
      loading="lazy"
      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fyugam.vaanoli.3%2Fvideos%2F192073945635289%2F&amp;show_text=false&amp;width=734&amp;appId=368773104165092&amp;height=413"
    ></iframe>
  </div>
</div> -->
<body>
  <div class="container">
    <!-- <div class="row">
      <div class="col h3 text-center">
        <p></p>
        Sign up here:
        <a href="https://forms.gle/RkYSLMGVUZtpC7bc9"
          >https://forms.gle/RkYSLMGVUZtpC7bc9</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col competitions">
        <p>ரொறன்ரோ தமிழ் இருக்கைக்கான நிதிசேர் ஓவியப்போட்டி</p>
        <p>தாயகன் ஓவியக் கல்லூரி நடாத்தும்</p>

        <p>மலரும் வண்ணங்கள்</p>

        <p>கருப்பொருள்: ரொறன்ரோ தமிழ் இருக்கை</p>

        <p>
          விண்ணப்ப முடிவு நாள்: April 30, 2021 <br />
          போட்டி முடிவு நாள்: May 7, 2021
        </p>

        <p>
          விண்ணப்பம்:
          <a href="https://thayahanartsschool.ca/">thayahanartsschool.ca</a>
          <br />
          போட்டியில் பங்கேற்க என்ற
          <a href="https://torontotamilchair.ca">torontotamilchair.ca</a>
          இணையத்தளத்தில் உங்கள் பங்களிப்பைச் செய்தபின், பங்களிப்பு விவரத்தை
          விண்ணப்பத்தோடு அனுப்பவும்.
        </p>

        <p>
          கட்டணம்: $10 (கனடிய டொலர்) <br />
          குறிப்பு: $20க்குக் கூடுதலான பங்களிப்புக்கு கனடாவிலும், ஐக்கிய
          அமெரிக்காவிலும் வரிச்சலுகை உண்டு.
        </p>

        <p>போட்டி இரண்டு பிரிவுகளாக நடைபெறும்:</p>
        <ul>
          <li>இளையோர் பிரிவு – 15 வயதுக்கு உட்பட்டோர்</li>
          <li>பெரியோர் பிரிவு – 15 வயதுக்கு மேற்பட்டோர்</li>
        </ul>

        <p>
          பரிசுத்தொகை: <br />
          முதலாவது பரிசு - $250 <br />
          இரண்டாவது பரிசு - $150 <br />
          மூன்றாவது பரிசு - $100 <br />
        </p>
        <p>
          கூடுதல் விவரங்களுக்கு: <br />
          மின்னஞ்சல்: thayahanarts@gmail.com <br />
          தொலைபேசி: 6478653838
        </p>
      </div>
    </div> -->
    <div class="row pt-5">
      <div class="col-6">
        We offer many services, ranging from tutoring, signs, graphic design,
        art, printing and website services. To learn more about our tutoring
        service, please explore this website. For any other inquiries, please
        <a href="/contact">Contact Us</a>
      </div>
    </div>
    <div class="row py-5 justify-content-around">
      <div class="col-4">
        <img
          src="https://lh3.googleusercontent.com/glsgmb/AJtb4XCEG31T5vEwaWL2JzFPRdhxYfwWhG1DFQrgkmCe8TqqowVAnJWkRSDpX9Rn0kNwjbN5kY6X9JYyDHn658_vCuqLMg=w608-h1798-rw-no-sc0x00ffffff"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="col-4">
        <img
          src="https://lh3.googleusercontent.com/glsgmb/AJtb4XDrH5T2xH6nwVEB8vnImrrulV-3TwEIQIWj27OsBPiOqMuxge1Xj7IsbkBnZgXvzr7Zuy6KMGslb2kVyLzBG_-_iw=w608-h1798-rw-no-sc0x00ffffff"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="col-4">
        <img
          src="https://lh3.googleusercontent.com/glsgmb/AJtb4XDjbxr7kmx4YpVUqa5zDo88ME7IoyIea_t-famPuvV0WUx6h7yCpPUYeYe7eNgmDv2b7SZLO8AilKKQN5Igqdj7Rw=w608-h1798-rw-no-sc0x00ffffff"
          alt=""
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</body>
