
<body id='window' class="d-flex text-center justify-content-center">
    <div class="row align-self-center text-white">
        <h1>
போட்டிகள்
        </h1>
    </div>
</body>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col competitions'>
                <p>
                    <p>மலரும் வண்ணங்களுக்கான போட்டி</p>

                    <p>தாயகன் ஓவியக் கல்லூரி எமது அடுத்த தலைமுறை தமிழிலும், ஓவியத்திலும் திறம்படத் திகழவேண்டும் என்ற
                        நோக்கோடு, அவர்களை ஊக்கப்படுத்தும் வகையில் மலரும் வண்ணங்கள் என்ற போட்டி நிகழ்ச்சியை ஆண்டுதோறும்
                        நடத்திவருகின்றது. இம்முறை நடத்த இருக்கும் இப்போட்டி நிகழ்ச்சி மூலம் கிடைக்கப்பெறும் பணத்தை
                        ரொறன்ரோப்
                        பல்கலைக்கழகத் தமிழ் இருக்கைகான நிதியத்துக்கு வழங்க முன்வந்துள்ளது. இதற்கு உங்களது மேலான ஆதரவை
                        வழங்குமாறு கேட்டுகொள்கிறோம்.</p>
                    போட்டிகள்:
                    <ul>
                        <li>ஓவியம்</li>
                        <li>பேச்சு</li>
                        <li>சொல்வதெழுதுதல்</li>
                        <li>திருக்குறள்</li>
                        <li>பண்ணிசை</li>
                    </ul>
                    <p>இடம்: ஸ்காபரோ சிவிக் சென்ரர்
                        Scarborough Civic Centre
                        150 Borough Dr, Scarborough, ON M1P 4N7</p>

                    <p>
                        நாள்: ஞாயிற்றுக்கிழமை, மார்ச் 22, 2020
                        நேரம்: மு.ப. 9:00 - பி.ப. 2:00
                    </p>

                    <p>
                        * உங்கள் பிள்ளையின் போட்டிக்கான சரியான நேரம் பதிவுக்குப் பின் அறிவிக்கப்படும்.
                    </p>
                    <p>
                        கட்டணம்: போட்டி ஒன்றுக்கு $20
                    </p>

                    <p>
                        * பங்குகொள்ளும் அனைத்து மாணவருக்கும் பரிசு வழங்கப்படும்.
                    </p>
                    உங்கள் பிள்ளைகளை போட்டி நிகழ்ச்சிகளுக்குப் பதிவு செய்யவும், கூடுதல் விவரங்கள் பெறவும்,
                    தொடர்புகொள்ளுங்கள்:
                    <ul>
                        <li>
                            Oviya - 6478653838
                        </li>
                        <li>
                            Rani - 6475377470
                        </li>
                        <li>
                            Subas - 6477049686
                        </li>
                        <li>
                            Email: oviyabose@gmail.com
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</body>