<body id='window'>
    <div class="row header">
        <h1>
            வகுப்புகள்
        </h1>
    </div>
</body>
<body>
    <div class='container p-4'>
        <div class='row'>
            <div class='col classes'>
                <ul>
                    <li>தமிழ்</li>
                    <li>ஓவியம்</li>
                    <li>ஆங்கிலம்</li>
                    <li>கணிதம்</li>
                    <li>என்னும் பல</li>
                </ul>
                <p>
                    மழலையர் முதல் எட்டாம் வகுப்பு மட்டும் வகுப்புகள் நடைபெறும். மேலும் அறிய தொடர்புக்குள்ளவும்.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</body>