<body id="window" class="d-flex text-center justify-content-center">
  <div class="row align-self-center text-white">
    <h1>Classes</h1>
  </div>
</body>

<div class="container p-4">
  <div class="row">
    <div class="col classes">
      <ul>
        <li>Tamil</li>
        <li>பண்ணிசை</li>
        <li>Painting (drawing)</li>
        <li>English</li>
        <li>Science</li>
        <li>Mathematics</li>
      </ul>
      <p>Classes will be held for Kindergarten to Eighth grade only.</p>
    </div>
  </div>
  <div class="row">
    <div class="col classes">
      <ul>
        <li>தமிழ்</li>
        <li>ஓவியம்</li>
        <li>ஆங்கிலம்</li>
        <li>கணிதம்</li>
        <li>என்னும் பல</li>
      </ul>
      <p>
        மழலையர் முதல் எட்டாம் வகுப்பு மட்டும் வகுப்புகள் நடைபெறும். மேலும் அறிய
        தொடர்புக்குள்ளவும்.
      </p>
    </div>
  </div>
</div>
